@import 'variables';

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.center {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}

/* стили к header*/
.page-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;

}

.box-logo {

    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px #ffffff;
    border-radius: 15px;
}

.logo {
    width: 50px;
}

.logo-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    width: 120px;
    color: #ffffff;
}

.menu-list {
    display: flex;
    column-gap: 20px;
}

.menu-list-link {
    list-style-type: none;
}

.menu-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

/* стили к main*/

.main-pic {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../img/main_logo.png), $orange;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;


}

/*section about us*/
.about-us {

    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about-us-wrapper {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about-us-img {
    width: 550px;
    box-shadow: 5px 5px 10px 0px #febdab;
    border-radius: 5px;
}

.about-us-title {
    font-size: 40px;
    line-height: 120%;
}

.about-us-text {
    font-size: 18px;
    line-height: 120%;
    text-align: center;
}

/*section studying*/
.studying {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.studying-title {
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 20px;
}

.studying-wrapper {
    display: flex;
    gap: 20px;
}

.studying-option {
    width: 290px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
}

.studiing-option-title {
    text-shadow: 1px 1px #febdab;
    margin-bottom: 15px;
    text-align: center;
}

.studying-option-text {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
}

/*section contact-us*/
.contact-us {
    background-image: url(../img/lighter.png);
    background-size: 1400px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
}

.contacts,
.leave-contacts {
    background-color: rgba(250, 103, 31, 0.4);
    width: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.contacts{
    gap: 15px;
}
.leave-contacts {
    align-items: center;
    justify-content: space-around;
}
.vk-box{
    display: flex;
    gap: 5px;
}

.contacts-title {
    font-size: 24px;
}

/* стили к footer*/

footer {
    background-color: #000000;
    height: 80px;
}